.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;

    padding: 20px;
    margin-left: 20px;

    border-radius: 50%;
    border: none;

    background-color: #48abe0;

    color: white;
    font-size: 24px;

    cursor: pointer;
}

.button:hover{
    background-color: rgb(110, 190, 233);
}

.button:active{
    background-color: #3c91c0;
}