.taskCard {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  padding: 20px;
  margin: 10px 0;

  border-radius: 2rem;

  color: #29252c;
  background-color: #ffffff;

  font-size: 18px;
  font-family: "Roboto", sans-serif;

  cursor: pointer;
}

.taskCardCheckbox {
  margin-right: 20px;
}

.taskCardTitle {
  width: 100%;
}

.deleteButton {
  width: 40px;
  height: 100%;

  padding: 0 10px;

  font-size: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);

  background: none;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  transform: rotate(45deg);
}

.taskCompleted {
  background-color: #61c382;
}
